<div class="cover mb-4">
    <h1>Make Your List of Movies</h1>
</div>

<div class='container py-5'>
  <div class='d-flex align-items-center justify-content-between mb-3'>
    <h3>My Lists</h3>
    <%= link_to 'Create Another List', new_list_path, class: 'btn btn-success', style: 'color: white' %>
  </div>
  <div class='row'>
    <% @lists.each do |list| %>
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <%= link_to list_path(list) do %>
          <% if list.background_image %>
            <div class="card-category" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path list.background_image %>)'>
              <%= list.name %>
            </div>
          <% else %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path 'liefjibkz86cie9hwrfl', height: 300, crop: :fill, gravity: 'auto' %>')">
              <%= list.name %>
            </div>
          <% end %>

        <% end %>
      </div>
    <% end %>
  </div>
</div>
