<div class='position-relative mb-3'>
  <div class="card-category card-large" style='background-image: url(<%= asset_path @list.background_image %>)'>
    <%= @list.name %>
  </div>
  <span class='movie-tag'><%= pluralize(@list.movies.size, 'movie') %></span>
</div>

<div class='container'>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#new_movie_modal">
      Add Movie
    </button>
  </div>
  <div class="row my-3 justify-content-center">
    <% @bookmarks.each do |bookmark| %>
      <div class='col-12 col-sm-6 col-md-4 bg-white rounded shadow m-1'>
        <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title, class: "movie-img rounded-top card-small" %>
        <div class='p-3 rounded-bottom d-flex flex-column'>
          <strong><%= bookmark.movie.title %>• <%= bookmark.movie.rating %>
          <i class="fas fa-star star-yellow" style='color: #f3da35'></i></strong>
          <p><%= bookmark.movie.overview %></p>
          <div class='d-flex align-items-end justify-content-between pt-4'>
            <div>
              <i class="fas fa-quote-left me-2"></i><%= bookmark.comment %>
            </div>
            <%= link_to 'Delete', bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure you want to remove #{bookmark.movie.title} from your #{@list.name} list?", class: 'btn btn-danger' } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'bookmarks/modal', list: @list, bookmark: @bookmark %>

