<h1>New Bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment  %>
  <%= f.button :submit %>
<% end %>
<br>
<%= link_to 'Back to the List', list_path(@list), class: 'btn btn-primary'%>
