<h5 class="modal-title">Add a movie to the <%= @list.name %> list</h5>
<div class="container">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment  %>
    <%= f.button :submit %>
  <% end %>
  <br>
  <%= link_to 'Back to the List', list_path(@list), class: 'btn btn-primary'%>
</div>
